[defaults]
inventory = inventory.ini
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent
local_tmp = ./.ansible/tmp
collections_paths = ./collections:./.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections:/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/ansible_collections
roles_path = ./roles

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
control_path = %(directory)s/ansible-ssh-%%h-%%p
